* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;

}

/* Header Styling */

.header {
    background-color: #1F2937;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: white;
    font-size: 24px;
    font-weight: 900;
    margin-left: 10%;
}

.link-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-right: 10%;
    list-style-type: none;
}

.header-link {
    color: darkgrey;
    font-size: 18px;
    text-decoration: none;
}

/* About section styling */

.about-section {
    background-color: #1F2937;
    padding: 48px 16px 48px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-text {
    margin-left: 10%;
    width: 30%;
}

.about-title {
    color: white;
    font-size: 48px;
    margin: 0;
}

.about-text p {
    color: darkgrey;
    margin: 0;
    padding: 12px 0 12px 0;
}

.photo-placeholder {
    width: 36%;
    padding: 110px;
    margin-right: 10%;
    background-color: darkgrey; 
}

.about-image {
    color: white;
}

.sign-up-btn {
    width: 100px;
    height: 28px;
    border-radius: 4px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
}