* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;

}

/* Header Styling */

.header {
    background-color: #1F2937;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: white;
    font-size: 24px;
    font-weight: 900;
    margin-left: 10%;
}

.link-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-right: 20%;
    list-style-type: none;
}

.header-link {
    color: #bbbbbb;
    font-size: 18px;
    text-decoration: none;
}

/* About section styling */

.about-section {
    background-color: #1F2937;
    padding: 48px 16px 48px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-text {
    margin-left: 10%;
    width: 30%;
}

.about-title {
    color: white;
    font-size: 48px;
    margin: 0;
}

.about-text p {
    color: #bbbbbb;
    margin: 0;
    padding: 8px 0 8px 0;
}

.photo-placeholder {
    width: 33%;
    padding: 110px;
    margin-right: 20%;
    background-color: #bbbbbb; 
}